.closed-folder {
  height: 100%;
  overflow-y: hidden;
}

.folder {
  width: 85%;
  position: relative;
  height: 100%;
  border-width: thin;
  border-color: #dfc0eb;
}

#frontTab.all-closed {
  top: 70%;
}

#interests.all-closed {
  top: 45%;
}

#skills.all-closed {
  top: 35%;
}

#projects.all-closed {
  top: 25%;
}

#work.all-closed {
  top: 15%;
}

#about.all-closed {
  top: 5%;
}

#about {
  left: 2%;
}

#work {
  left: 3.2%;
}

#projects {
  left: 4.4%;
}

#skills {
  left: 5.6%;
}

#interests {
  left: 6.8%;
}

#about img {
  border-style: solid;
  border-width: 0.5rem;
  border-color: #dfc0eb;
  max-width: 8rem;
  max-height: 8rem;
}

#about p {
  width: 100%;
  text-align: justify;
  margin: 1rem;
}

#about .small-text {
  text-align: center;
  font-size: smaller;
  margin: 0.3rem;
  color: #dfc0eb;
}

.internship {
  margin: 0 0 3rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: white;
  padding: 0rem 1rem;
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem 0 0 #dfc0eb;
}

.internship h2 {
  flex-basis: 100%;
  margin: 2rem 0 0.5rem 0;
}

.internship p {
  flex-basis: 100%;
  text-align: center;
  font-size: 0.75rem;
  color: #dfc0eb;
}

.internship img {
  flex-basis: 100%;
  /* max-width: 8rem; */
  /* max-height: 8rem; */
}

#projects .tab-content {
  align-items: space-around;
}

@media screen and (max-width: 650px) {
  .internship {
    width: 90%;
    margin: 0 0 1rem;
  }

  .internship li {
    font-size: 0.6rem;
    line-height: 0.75rem;
  }

  .internship p {
    font-size: 0.6rem;
  }

  .internship h2 {
    font-size: 0.75rem;
    margin: 1rem 0 0;
  }

  .internship img {
    max-width: 3.5rem;
    max-height: 3.5rem;
  }
}
