.hover-container {
  position: relative;
  background-color: white;
}

.text-hover.hover-container {
  height: 10rem;
  padding: 1rem;
  width: 40%;
  margin: 1rem;
  border-radius: 1.5rem;
}

.img-hover.hover-container {
  height: 8rem;
  width: 8rem;
  margin: 1rem;
  border-radius: 50%;
}

.bg-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.hover-prompt {
  flex-basis: 100%;
  margin: 0;
}

.overlay {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.overlay-text {
  padding: 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.overlay-text h2 {
  text-align: center;
  color: white;
}

.img-hover .overlay-text {
  justify-content: center;
}

.img-hover img {
  border-style: solid;
  border-width: 0.5rem;
  border-color: #dfc0eb;
  margin: 0;
  width: 8rem;
  height: 8rem;
}

.overlay-text ul {
  margin: 0 2rem;
  flex-basis: 100%;
}

.overlay-text li {
  color: white;
  margin: 0;
  font-size: 0.8rem;
}

.overlay-text p {
  color: white;
  margin: 0;
  font-size: 1rem;
}

@media screen and (max-width: 950px) {
  .hover-container h2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 750px) {
  .text-hover.hover-container {
    width: 100%;
    background-color: white;
    margin: 1rem;
    border-radius: 1.5rem;
  }
}
