.layout {
  /* margin: 1rem auto; */
  padding: 1rem 5rem;
  height: 100%;
  position: relative;
  overflow: auto;
    background-color: #f7f0fa;
    /* background-color: #6d4b7c; */
}

.social-icons {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

.content {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

@media (max-width: 800px) {
  .layout {
    padding: 0;
  }

  .content {
    margin: 0;
  }
}
