.layout {
  margin: 1rem auto;
  padding: 0 5rem;
  height: 100%;
  position: relative;
}

.social-icons {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

.content {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

@media (max-width: 800px) {
  .layout {
    padding: 0;
  }

  .content {
    margin: 0;
  }
}
