.tab {
  width: 90%;
  position: absolute;
  height: 100%;
}

.opened-tab {
  top: 3% !important;
  left: 5% !important;
  height: 100%;
}

.closed-tab.one-open {
  max-height: 10% !important;
  overflow: hidden;
  top: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.25s, opacity 0.25s linear,
    max-height 0.25s ease-out;
}

.closed-tab.all-closed {
  max-height: 100% !important;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.25s linear, max-height 0.25s ease-in;
}

.disabled {
  width: 100%;
}

.disabled .visibility-wrapper {
  height: 100%;
  background-color: #f7f0fa;
  border-radius: 0px;
  border-style: dashed none none none;
}

.visibility-wrapper {
  background-color: oldlace;
  border-style: solid;
  border-width: thin;
  border-color: #dfc0eb;
  border-radius: 0px 30px 0px 0px;
}

.closed-tab .tab-content {
  opacity: 0;
  transition: opacity 0.2s linear;
}

.opened-tab .tab-content {
  opacity: 1;
  transition: opacity 0.2s linear;
}

.tab-content {
  display: flex;
  align-items: space-between;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5%;
}